@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: rgb(49, 46, 44);
    background-image: url(./images/fondo.jpg);
    min-height: 100vh;
    background-size: cover;
}

/* Bernat */
header{
    display: flex;

    width: 100%;
    height: 5vh;

    background-color: rgba(107, 48, 5, 0.782);
    justify-content: space-around;
    gap: 50vw;
    align-items: center;
    position: absolute;

}

header img{

    height: 5vh;
    border-radius: 10px;

}

header a{
    font-size: 1.5rem;
    text-decoration: none;
}
header nav{
    display: flex;
    gap: 3vw;
}
header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}
/* ----- */
main, form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beefSection{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2vh;
}

.beefSection img{
    z-index: -1;
    width: 100%;
}
.beefSection div{
    position: absolute;
    top: 12vh;
}
.beefSection div h1{
    font-size: 5rem;
    font-weight: 900;
    text-shadow: -2px 2px 4px rgb(209, 98, 8);
}
.beefSection button{
    margin-top: 3vh;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    background-color: rgb(209, 98, 8);
    border: none;
    font-size: 1.5rem;
    font-weight: 900;
}
main h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2vh;
}
/* Ruan */
.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;

    width: 10vw;
    height: 60vh;

    background-color: rgba(89, 81, 76, 0.782);
    border: 5px solid rgb(107, 48, 5);
    border-radius: 10px;
    flex-basis: 40%;
}
.tarjeta img{
    height: 60%;
    border-radius: 10px;
}
.tarjeta h3{
    font-size: 2rem;
    text-shadow: -1px 2px 3px rgb(0, 0, 0);
    font-weight: 900;
    margin-top: 1vh;
}
.tarjeta button{
    width: 40px;
    height: 50px;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    background-color: rgb(209, 98, 8);
    
}
.tarjeta div{
    gap: 3vw;
    display: flex;
}
.contenedortarjetas{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
}

/* Mario */
footer{
    display: flex;
    align-items: center;
    justify-content:space-evenly;

    width: 100%;
    height: 20vh;


    position:absolute;
    flex-direction:row;
    
    margin-top: 2vh;    

    background-color: rgba(107, 48, 5, 0.782);

    font-size: 1.5rem;
}

.cart{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 75px;
    width: 75px;
    
    background-color: rgb(107, 48, 5);
    border-radius: 50%;

    font-size: 2rem;

    bottom: 5vh;
    right: 5vw;

    z-index: 1;
    position: fixed;
}

input{
    color: black;
}