*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: rgb(49, 46, 44);
    background-image: url(./images/fondo.jpg);
}

/* Bernat */
header{
    display: flex;

    width: 100%;
    height: 5vh;

    background-color: rgba(107, 48, 5, 0.782);
    justify-content: space-around;
    align-items: center;
}
header img{

height: 5vh;
border-radius: 10px;


}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Ruan */
.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;

    width: 30vw;
    height: 30vh;

    background-color: rgba(89, 81, 76, 0.782);
    border: 5px solid rgb(107, 48, 5);
    border-radius: 10px;
}
.contenedortarjetas{
    display:flex;
    flex-wrap: wrap;
    flex-basis: 22%;
}
/* Mario */
footer{
    display: flex;
    align-items: center;
    justify-content:space-evenly;

    width: 100%;
    height: 20vh;



    position:absolute;
    flex-direction:row;
    bottom: 0%;
    

    background-color: rgba(107, 48, 5, 0.782)
}